div {
    box-shadow: 10px 10px 5px #888888;
    font-size:18px;
}

h1:hover { 
    background-color: yellow;
    transition-delay: 0.5s;
}

h2:hover { 
    background-color: green;
    transition-delay: 1s;
}

h3:hover { 
    background-color: blue;
    transition-delay: 0.5;
}
#pictureee {
    border-radius: 50%;
}

.highlight {background-color: yellow;}